* {box-sizing: border-box}

header, nav, main, footer {display: block;}

body {background-color: #F5FFFA;
      color: #E8BBFF ;
	  font-family: Verdana, Arial, sans-serif;}

header {background-color: #4B0082;
        text-align: center;
	    height: 100px;
	    background-position: right;
	    background-repeat: no-repeat;}

main {padding-left: 10em;
	  padding-right: 2em;
	  padding-top: 0em;
	  margin-left: 200px;}

h1 {padding-top: 20px;
	padding-left: 2em;}
	
	audio{display: block;}
	margin: 1em;
}


	
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
nav
{
	font-weight: bold;
	
	text-align: center;
}

nav a {text-decoration: none;}
.studio {font-style: italic;}

nav a {text-decoration: none;
	   display: table;
	   text-align: center;
	   font-weight: bold;
	   border: 4px outset #FF00FF;
	   padding: 1em;
	   margin-bottom: 1em;}
	
nav a:link {color: #E8BBFF;}
nav a:visited {color: #E8BBFF;}
nav a:hover {color: #E8BBFF; border: 3px inset #E8BBFF;}

nav ul {list-style-type: none;
	   }

div.scrollmenu {
    background-color: #4B0082;
 
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    
}
table {width: 60%;
	border: 1px solid #E8BBFF;
	border-collapse: collapse;
	margin-bottom: 1em;}

td, th {padding: 5px;
	border: 1px solid #E8BBFF;}

tr:nth-of-type(even) {background-color: #242827;}

caption {margin: 1em;
	font-weight: bold;
	font-size: 120%;}

.floatleft {float: left; 
            margin-right: 4em;}

.clear {clear: both;}

.studio {font-style: italic;}


footer {background-color: #E0FFFF;
        font-size: .80em;
	    font-style: italic;
	    text-align: center;
	    padding: 1em;}
	    
	    
	    

#mobile {display: none;}

#desktop {display:inline;}
	
#wrapper {width: 80%;
	      margin-right: auto;
	      margin-left: auto;
	      background-color: #4B0082;
	      min-width: 1400px;
	      max-width: 1480px;}
	      
	      

@media only screen and (max-width: 1024px){
body {margin: 0;
	  padding: 0;}
	
#wrapper {width: 100%;
		  min-width: 0;
		  margin: 0;
		  padding: 0;}
	
nav{float: none;
	width: auto;
	padding-left: 0;}
	
nav a {padding: .2em;
	   margin-left: .3em;
	   float: left;
	   width: 23%;}
	
main {padding: 2.5em 1em 2.5em 1em;
	  margin: 0;
	  font-size: 90%;
	  clear: both;}
	
#hero img {width: 100%; height: auto;}
		
h2, h3, p, dl {padding-left: 2em; 
               padding-right: 2em;}
	
main ul {margin-left: 2em;}
	
.floatleft {margin-left: 2em;
            margin-bottom: 1em;}
	
.clear {padding-left: 2em;}}

@media only all and (max-width: 768px){
h1 {font-size: 2em;
	padding-top: .25em;
	padding-left: 1.5em;
	width: 85%;
	text-align: center;}
	
nav a {padding: .5em;
	   width: 45%;
	   float: left;
	   min-width: 6em;
	   margin-left: .5em;}
	
main {padding-top: 0}
	
.floatleft {float: none; display: none;}
	
#hero {display: none}
	
footer {padding: 0.5em;
		margin: 0;}
	
#mobile {display: inline;}
#desktop {display: none;}
}
.social_website {	
	
	padding:0; 
	float:right;
	margin-right: -5px;
	width:20%;
	box-sizing:border-box;
	position:relative;
}

.facebook_link {
	width: 14%;
position: absolute;
margin-left: 13%;
	
}
.facebook_link img{
	width:100%; 
	transition: 1s;
		border:1px solid gray;
}
.facebook_link img:hover{
	background-color:deepskyblue;}

.linkedin_link {
	width: 14%;
position: absolute;
margin-left: 30%;
}

.linkedin_link img {
	width:100%;	
	border: 1px solid gray;
}

.linkedin_link img:hover {color:deepskyblue; 
	border:1px solid gray;}

.twitter_link {
	width: 16%;
position: absolute;
margin-left: 47%;
}
.twitter_link img{
	width:100%;
	border:1px solid gray;
}
.instagram_link {
	width: 13%;
position: absolute;
margin-left: 66%;
}
.instagram_link img {
	width:100%;
	border: 1px solid gray;
}